$main: #e2146a;
$accent: #ffdf6f;
$base: #ffcbd1;

$base: #fffdf8;
$main: #ffa088;
$fontColor: #9a449d;
$accent: #ffdf6f;
$shadow: #f4bebe;
$shadow: #ff3088;
$shadow: $main;
$BGCircle: #ffeeae;
$sideline: #f39090;
$shadow: #f4bebe;
$itemColor: #ff3088;
$myname: #ff3088;
$menubar2: #40c0c9;
$menubar: #9a449d;
$modalBG: #201030;
