@import "public/css/variables";

.overlay {
  position: "fixed";
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 40;
  filter: "blur 2px";
  background-color: "rgba(0, 0 , 0, 0.50)";
}
.footer {
  background: #302040;
  color: #fff;
  text-align: center;
  margin-top: 14px;
  font-size: 25px;
  height: 40px;
}
.linkClass {
  color: $menubar2;
  display: block;
  &:hover {
    color: $accent;
  }
}
